*{
  margin: 0;
  padding: 0;
}

body{
   overflow-x: hidden;
}

nav{
  background-color: #25274D;
  font-family: "Noto Serif SC", serif;
}

.navbar-brand img {
  height: 40px;
  width: auto;
}

.dropdown button{
  background-color: #2E9CCA;
}

.dropdown-item img{
  height: 40px;
  width: 40px;  
}

.footer{
  background-color: black;
  color: white;
}

#scroll-top{
  display: none;
}


/**  Sidebar********************************************************************** */

.sidebar {
  margin-top:-10px;
  padding: 0;
  width: 200px;
  background-color: #AAABB8;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  cursor:pointer;
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #29648A;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #2E9CCA;
  color: white;
}

.course{
  margin-top:70px;
  margin-left:205px;
  overflow-x:auto
}
thead{
  background-color:#464866;
  transition: 0.3s;
  color:white;
  text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
  font-family: 'Ubuntu', sans-serif;

}

@media screen and (max-width: 700px) {

  #nav-img{
    height:35px;
    width:80px;
  }
  .dropdown button{
    width:80px;
    height:40px;
    font-size:0.7em;
  }
  .sidebar a {
    text-align:center;
    float: none;
  }
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    margin-top:60px;
    }
    .course{
  margin-top:5px;
  margin-left:5px;
  margin-bottom:40px;
}
}
